<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="85796e">  <td>18/03/17 21:33:53</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="BookTest.initialise()[pri:0, instance:testcases.BookTest@cb5822]">initialise</td> 
  <td>main@1476394199</td>   <td></td> </tr>
<tr bgcolor="b66870">  <td>18/03/17 21:33:24</td>   <td>-28589</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseTest.launchBrowser()[pri:0, instance:testcases.BookTest@cb5822]">&gt;&gt;launchBrowser</td> 
<td>&nbsp;</td>  <td>main@1476394199</td>   <td></td> </tr>
<tr bgcolor="b66870">  <td>18/03/17 21:33:24</td>   <td>-28728</td> <td title="&gt;&gt;BaseTest.suitesetup()[pri:0, instance:testcases.BookTest@cb5822]">&gt;&gt;suitesetup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1476394199</td>   <td></td> </tr>
</table>
